<div class="iapp-project-info-wrap">
    <h1 class="iapp-page-header"><%= header %></h1>
    <p class="iapp-page-chatter"><%= chatter %> <%= contact_chatter %> <a href='mailto:<%=contact_email%>'><%=contact_email%></a>. </p>
    <p class="iapp-page-chatter">Last updated on: <%=last_updated %></p>
    <div class="iapp-share-wrap"></div>
     <div class="switch">
        <label>
            <input type="radio" class='iapp-last-week-radio' name='last-week' checked>
            <div class="iapp-toggle-name">
                2015 guests
            </div>
        </label>
        <label>
            <input type="radio" class='iapp-last-week-radio' name='last-week'>
            <div class="iapp-toggle-name">
                Last sunday
            </div>
        </label>
    </div>
    <div class="iapp-search-wrap"></div>
</div>
<div class="no-results-wrap">
    <div class='no-results-message alert alert-danger'><strong>No results!</strong> Try searching for another guest.</div>
</div>
<div class="iapp-menu"></div>
<div id="card-wrap" class="iapp-card-wrap"></div>

<div class="iapp-intro-wrap">
    <div class="iapp-intro-content-wrap">
        <div class="iapp-intro-icon-wrap">
            <!-- <div class="iapp&#45;intro&#45;icon"><img src="img/tv&#45;icon&#45;white.svg" alt=""></div> -->
            <div class="iapp-intro-icon"><img src="http://www.gannett-cdn.com/experiments/usatoday/2015/03/sunday-shows/img/tv-icon-blue.svg" alt=""></div>
        </div> <!-- end iapp-intro-icon-wrap -->
        <div class="iapp-intro-info">
            <h2 class="iapp-intro-header"><%= header %></h2>
            <p class="iapp-intro-chatter"><%= chatter %></p>
            <div class="iapp-button iapp-begin-button iapp-clickable"><div class="iapp-button-text">Begin</div></div>
        </div> <!-- end iapp-intro-info -->
    </div> <!-- end iapp-intro-content-wrap -->
</div> <!-- end iapp-intro-wrap -->

<div class="iapp-end-modal-wrap"></div>

