<div class="iapp-project-info-wrap">
    <h1 class="iapp-page-header">Dress like a star: Build your Ultimate Oscar closet</h1>
    <p class="iapp-page-chatter">Love it or leave it? That’s for you to decide as you “shop” 100 memorable Oscar gowns and create your look book of favs…and, ahem, fails. Sort your closet using the tags at the right and say yay or nay to each look using the icons on the photos.</p>

    <p class="iapp-share-chatter">Your friend's choices are below. Press reset to select your favorites.</p>
    <div class="iapp-share-wrap"></div>
</div>
<div class="iapp-menu"></div>
<div id="card-wrap" class="iapp-card-wrap"></div>

<div class="iapp-intro-wrap">
    <div class="iapp-intro-content-wrap">
        <div class="iapp-intro-icon-wrap">
            <div class="iapp-intro-icon"><img src="http://www.gannett-cdn.com/experiments/usatoday/2015/02/red-carpet/img/like.svg" alt=""></div>
            <div class="iapp-intro-icon"><img src="http://www.gannett-cdn.com/experiments/usatoday/2015/02/red-carpet/img/dislike.svg" alt=""></div>
        </div> <!-- end iapp-intro-icon-wrap -->
        <div class="iapp-intro-info">
            <h2 class="iapp-intro-header">Welcome to your oscar closet</h2>
            <p class="iapp-intro-chatter">Sort your closet using the sort button below and say yay or nay to each look using the icons on the photos. When you’ve selected 10 in each category then you’ll have a shareable look book to send out via twitter, FB, and email.</p>
            <div class="iapp-button iapp-begin-button iapp-clickable"><div class="iapp-button-text">Begin</div></div>
        </div> <!-- end iapp-intro-info -->
    </div> <!-- end iapp-intro-content-wrap -->
</div> <!-- end iapp-intro-wrap -->

<div class="iapp-end-modal-wrap"></div>

