
      <div class="card card-detail">
      
        <div class="iapp-detail-image-wrap">
            <img src="<%=photo_url%>" alt="<%=guest%>" class="iapp-detail-image">
        </div>
      
        <div class="close-card"></div>
      
      
      
        <div class="iapp-detail-info">
            <h2 class="card-back-header"><%= guest %> </h2>
            <p class="iapp-summary"><%=description%></p>
            <% _.each(appearances, function(appearance) { %>
                <div class="iapp-card-back-detail-appearance">
                    <span class="iapp-card-back-detail-appearance-date"><%=appearance.date%></span><span class="iapp-card-back-detail-appearance-network"><%=appearance.network%></span>
                </div>
            
            <%})%>
            <p class="iapp-card-back-photo-credit"><%=photo_credit%></p>
        </div>
      
      
      </div>
      
        <div class="iapp-detail-bg"></div> 

