<div class="iapp-card-info">
    <h2 class="iapp-card-info-header"><%= guest%></h2>
    <p class="iapp-card-info-text"><%=description%></p>
    <% if (category == "house" || category =="senate") { %>
    <p class="iapp-card-info-text"><% print(party.charAt(0).toUpperCase() + party.slice(1))%>, <%=state%></p>
    <% } %>
    
</div>
<div class="iapp-card-front-image-wrap">
    <div class="iapp-card-front-number">
       <div class="iapp-card-front-number-inner ">
           <%=filteredAppearancesTotal%>
       </div>
       <img src="http://www.gannett-cdn.com/experiments/usatoday/2015/03/sunday-shows/img/tv-icon-empty.svg" alt="" />
   </div>
</div>
<% if (filteredAppearancesTotal !== 1) {%>
<p>appearances</p>
<% } else {%>
<p>appearance</p>
<% } %>
