<div class="iapp-card-front-image-wrap">
    <img class="cover-img" src="http://www.gannett-cdn.com/experiments/usatoday/2015/02/red-carpet/img/load.png" data-src='<%=photo_url%>'alt="<%=guest%>">
    <div class="iapp-card-front-number">
       <div class="iapp-card-front-number-inner ">
           <%=total_appearances%>
       </div>
    </div>
</div>
<div class="iapp-card-info">
    <h2 class="iapp-card-info-header"><%= guest%></h2>
    <p class="iapp-card-info-text"><%=description%></p>
    <p class="iapp-card-info-photo-credit"><%= photo_credit%></p>
    
</div>
