
      <div class="card card-detail">
      <div class="iapp-card-status iapp-card-status-liked"><img src="http://www.gannett-cdn.com/experiments/usatoday/2015/02/red-carpet/img/like.svg" alt="" class="iapp-card-status-icon"></div>
        <div class="iapp-card-status iapp-card-status-disliked"><img src="http://www.gannett-cdn.com/experiments/usatoday/2015/02/red-carpet/img/dislike.svg" alt="" class="iapp-card-status-icon"></div>
      
        <div class="iapp-detail-image-wrap">
            <img src="<%=photo_url%>" alt="<%=person_name%>" class="iapp-detail-image">
            <div class="iapp-feedback-buttons">
                <h4 class="iapp-like-button iapp-feedback-button"><img src="http://www.gannett-cdn.com/experiments/usatoday/2015/02/red-carpet/img/like.svg" class="iapp-feedback-icon" alt="Like"></h4>
                <h4 class="iapp-dislike-button iapp-feedback-button"><img src="http://www.gannett-cdn.com/experiments/usatoday/2015/02/red-carpet/img/dislike.svg" class="iapp-feedback-icon" alt="Dislike"></h4>     
            </div>
        </div>
      
        <div class="close-card"></div>
      
      
      
        <div class="iapp-detail-info">
            <h2 class="card-back-header"><%= person_name %> </h2>
            <p class="iapp-summary"><%= photo_caption %></p>
            <p class="iapp-card-back-photo-credit"><%=photo_credit%></p>
        </div>
      
      
      </div>
      
        <div class="iapp-detail-bg"></div> 

