<div class='iapp-last-week-entry'>
    <% console.log(this); %>
    <h2 class='iapp-last-week-header'><%=networkGuests[0].last_week_network%></h2>
    <% _.each(networkGuests, function(guestObj) { %>
        <div class="card small-card">
            
            <div class="iapp-card-front-image-wrap">
                <img class="cover-img" src="http://www.gannett-cdn.com/experiments/usatoday/2015/02/red-carpet/img/load.png" data-src='<%=guestObj.photo_url%>'alt="<%=guestObj.guest%>">
            </div>
            <div class="iapp-card-info">
                <h2 class="iapp-card-info-header"><%= guestObj.guest%></h2>
                <p class="iapp-card-info-text"><%=guestObj.description%></p>
                <p class="iapp-card-info-photo-credit"><%= guestObj.photo_credit%></p>
                
            </div>
        </div>
    <% })%>
</div>
