<div class='iapp-last-week-entry'>
    <h2 class='iapp-last-week-header'><%=networkGuests[0].last_week_network%></h2>
    <% _.each(networkGuests, function(guestObj) { %>
        <div class="card small-card">
            
            <div class="iapp-card-front-image-wrap">
            </div>
            <div class="iapp-card-info">
                <h2 class="iapp-card-info-header"><%= guestObj.guest%></h2>
                <p class="iapp-card-info-text"><%=guestObj.description%></p>
            </div>
        </div>
    <% })%>
</div>
