<div class="iapp-menu-panel">
    
    
    <h3 class="iapp-menu-header iapp-menu-header-filters">Filters</h3>
    <div class="iapp-filters-wrap"></div> 
</div>

<div class="iapp-menu-control-area">
    <div class="iapp-menu-button iapp-button iapp-button-blue iapp-clickable"><div class="iapp-button-text">Filters</div></div>
    <!-- <div class="iapp&#45;top&#45;button iapp&#45;button iapp&#45;button&#45;blue iapp&#45;clickable"><div class="iapp&#45;button&#45;text">Top</div></div> -->
    <div class="iapp-menu-close iapp-button iapp-clickable"><div class="iapp-button-text">Close Menu</div></div>
    <div class="iapp-reset-button iapp-button iapp-clickable"><div class="iapp-button-text">Reset</div></div>
    <div class="iapp-menu-scoreboard">

        <div class="iapp-menu-scoreboard-likes">
            <span class="iapp-menu-scoreboard-icon"><img src="https://www.gannett-cdn.com/experiments/usatoday/2015/02/red-carpet/img/like.svg" alt="like"></span>
            <div class="iapp-menu-scoreboard-scrore-wrap">
                <span class="iapp-menu-scoreboard-score iapp-menu-scoreboard-score-number"><%=numlikes%></span><span class="iapp-menu-scoreboard-score iapp-menu-scoreboard-score-total">/10</span>
            </div>
        </div>
        <div class="iapp-menu-scoreboard-dislikes">
            
            <span class="iapp-menu-scoreboard-icon"><img src="https://www.gannett-cdn.com/experiments/usatoday/2015/02/red-carpet/img/dislike.svg" alt="like"></span>
            <div class="iapp-menu-scoreboard-scrore-wrap">
                <span class="iapp-menu-scoreboard-score iapp-menu-scoreboard-score-total">/10</span>
                <span class="iapp-menu-scoreboard-score iapp-menu-scoreboard-score-number"><%=numdislikes%></span> 
            </div>
        </div>
    </div>
</div>
