<div class="iapp-end-modal-wrap-content">
    <div class="iapp-end-modal-close"></div>
    <div class="iapp-end-modal-content">
        <h3 class="iapp-end-header"><%=endHeader%></h3>
        <p class="iapp-end-chatter"><%=endBody%></p>
    </div>
    <div class="iapp-share-buttons">
        <a href="https://twitter.com/intent/tweet?url=<%=twitterShare%>&text=<%=encodedShare%>" class="iapp-share-button iapp-share-twitter iapp-share-popup" target="_blank"><img src="https://www.gannett-cdn.com/experiments/usatoday/2015/02/red-carpet/img/twitter.svg" alt="Twitter share"></a>
        <a href="https://www.facebook.com/dialog/feed?display=popup&app_id=<%=fb_id%>&link=<%=fbShare%>&picture=<%=stillimage%>&name=&description=<%=encodedShare%>&redirect_uri=<%=fb_redirect%>" class="iapp-share-button iapp-share-facebook iapp-share-popup" target="_blank"><img src="https://www.gannett-cdn.com/experiments/usatoday/2015/02/red-carpet/img/fb.svg" alt="Facebook share"></a>
        <a href="<%=email_link%>" class="iapp-share-button iapp-share-email"><img src="https://www.gannett-cdn.com/experiments/usatoday/2015/02/red-carpet/img/email.svg" alt="Email share"></a>
    </div>
</div>

<div class="iapp-end-modal-bg"></div>