.iapp-last-week-wrap {
    display: none;
    padding: 0 1em 8em 1em;
    width: 100%;
    @extend .group;
}

.iapp-last-week-header {
    color: $dark-grey;
    font-family: "Futura Today DemiBold", Arial, sans-serif;
    margin: 1em 0;
    text-align: center;
}

.iapp-last-week-entry {
    width: 100%;
    @extend .group;
}
.iapp-last-week-route {
  .iapp-card-wrap {
    display: none;
  }
  .iapp-last-week-wrap {
    display: block;
  }
  .iapp-filters-wrap, .iapp-menu-header-filters {
    display: none;
  }

  .iapp-reset-button {
    display: none;
  }

  .iapp-menu-button, .iapp-menu-close, .iapp-top-button {
    display: none;
  }
}

.iapp-last-week-network-logo {
    display: block;
    max-width: 200px;
    margin: 0 auto;
}
