.iapp-menu-panel {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 0px 5px 5px 0px;
  @include BoxShadowHelper(2);
  color: white;
  float: left;
  // margin-left: -2.5%;
  padding: 2em;
  position: relative;
  transition: transform 400ms ease;
  width: 25.5%;   
  z-index: 200;
}

.iapp-menu-panel.iapp-sticky {
    position: fixed;
    top: 0;
}

.iapp-menu-control-area {
  bottom: 0;
  height: 80px;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: 200;

  @media (max-width: $mid-break) {
    height: 75px;
    width: 100%;
  }
}

.iapp-menu-hide {
    position: absolute;
  .iapp-menu-panel {
    transform: translate(-600%, 0);
  }
  .iapp-button.iapp-menu-button {
    transform: translate(50%, 0);
  }
}

.iapp-menu-show {
  .iapp-button.iapp-menu-close {
    transform: translate(50%, 0);
  }
}

@media (max-width: $mid-break) {
  .iapp-menu-panel {
    border-radius: 0px;
    box-shadow: none;
    float: none;
    height: 100%;
    left: 0;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 100%;  
    // z-index: 20;
    
  }
  .iapp-menu-show .iapp-menu-panel{
        
        transform: translate(0, 0);
        
    } 
    .iapp-menu-hide .iapp-menu-panel {
        transform: translate(0, 100%);
        
    }
}

.iapp-menu-header {
  font-family: "Futura Today DemiBold", Arial, sans-serif;
  font-size: 2em;
  margin-bottom: 1em;
  text-align: left;
  text-transform: uppercase;
}

.iapp-button.iapp-menu-close {
    bottom: 25px;
    position: absolute;
    right: 50%;
    transform: translate(50%, 200%);
    transition: transform 500ms ease;
    z-index: 100;
}

.iapp-button.iapp-menu-button {
  bottom: 25px;
  border-radius: 50%;
  position: absolute;
  right: 50%;
  transform: translate(50%, 200%);
  transition: transform 500ms ease;
  z-index: 100;
}

.iapp-top-button {
  bottom: 25px;
  display: none;
  position: absolute;
  right: 50%;
  transform: translate(50%, 0%);
  transition: transform 500ms ease;
  z-index: 99;
}

.iapp-menu-scrolled .iapp-top-button {
  display: block;
}

.iapp-menu-scrolled {
  .iapp-menu-close, .iapp-menu-button {
    display: none;
  }
}

.iapp-menu-scoreboard-scrore-wrap {
  display: inline;
}


.iapp-menu-scoreboard {
  // background: rgba(0, 0, 0, 0.8);
  // @include BoxShadowHelper(2);
  height: 8em;
  padding: 0 1em;
  width: 100%;
}

.iapp-menu-scoreboard-likes, .iapp-menu-scoreboard-dislikes {
  display: none;
    height: 100%;
  width: 12em;
  @media (max-width: 600px) {
    width: 11em;
  }
}

.iapp-menu-scoreboard-likes {
  left: 50%;
  position: absolute;
  transform: translate(-100%, 0);
  .iapp-menu-scoreboard-icon, .iapp-menu-scoreboard-score {
    float: left;
  }
  .iapp-menu-scoreboard-score {
    margin-left: 10px;
    &.iapp-menu-scoreboard-score-total {
      margin-left: 0;
    }
  }

  .iapp-menu-scoreboard-label {
    position: absolute;
    bottom: 0.5em;
    left: 1em;
  }
}

.iapp-menu-scoreboard-dislikes {
  right: 50%;
  position: absolute;
  transform: translate(100%, 0);
  text-align: right;

  .iapp-menu-scoreboard-icon, .iapp-menu-scoreboard-score {
    float: right;
  }

  .iapp-menu-scoreboard-score {
    margin-right: 0;
    &.iapp-menu-scoreboard-score-total {
      margin-right: 10px;
    }
  }

  .iapp-menu-scoreboard-label {
    position: absolute;
    bottom: 0.5em;
    right: 1em;
  }
}

.iapp-menu-scoreboard-score.iapp-menu-scoreboard-score-total {
  color: $light-grey;
}

.iapp-menu-scoreboard-icon {
  height: 35px;
  width: 35px;
  img {
    display: block;
  }
}

.iapp-menu-scoreboard-icon, .iapp-menu-scoreboard-score {
  color: white;
  display: inline-block;
  font-family: "Futura Today DemiBold" Arial, sans-serif;
  font-size: 2em;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  vertical-align: top;
  // width: 48%;
}

.iapp-menu-scoreboard-label {
  color: white;
  text-transform: uppercase;
}

.iapp-reset-button {
  
  background: $blue;
  bottom: 25px;
  border-radius: 50%;
  @include BoxShadowHelper(4);
  color: white;
  display: none;
  height: 80px;
  position: absolute;
  right: 50%;
  text-transform: uppercase;
  transform: translate(50%, 0%);
  transition: transform 500ms ease;
  width: 80px;
  z-index: 100;
}
