$switch-bg-color: white;
$switch-unchecked-bg: white;
$switch-checked-lever-bg: $blue;
$switch-unchecked-lever-bg: darken($light-grey, 10);
$input-disabled-solid-color: $dark-grey;
$label-text-color: white;

$switch-radius: 5px;

/***************
     Switch
***************/
.switch,
.switch * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.switch {
    @extend .group;
    background-color: $switch-unchecked-lever-bg;
    box-shadow: inset 0 1px 3px rgba(black, .3),
                      0 1px rgba(white, .1);
    border-radius: $switch-radius;
}

.switch label {
    display: block;
    margin: 0;
    float: left;
    width: 50%;
}

.switch label .iapp-toggle-name {
    background-color: none;
    color: $medium-grey;
    cursor: pointer;
    padding: 0.5em 0.25em;
    transition: all 250ms ease;
}

.switch label {
    &:nth-child(0n+1) {
        .iapp-toggle-name {
            border-radius: $switch-radius 0px 0px $switch-radius;
        }
    }
    &:nth-child(0n+2) {
        .iapp-toggle-name {
            border-radius: 0px $switch-radius $switch-radius 0px;
        } 
    }
}
.switch label input[type=radio]{
    opacity: 0;
    width: 0;
    height: 0;
    display: none;
}
.switch label input[type=radio]:checked + .iapp-toggle-name{
    background-color: $switch-checked-lever-bg;
    color: white;
    @include BoxShadowHelper(1);
}
.switch label input[type=radio]:checked + .lever:after {
    background-color: $switch-bg-color;
}
.switch label .lever {
    content: "";
    display: inline-block;
    position: relative;
    width: 60px;
    height: 20px;
    background-color: $switch-unchecked-lever-bg;
    border-radius: 15px;
    margin-right: 10px;
    transition: background 0.3s ease;
    vertical-align: middle;
    margin: 0 16px;
}
.switch label .lever:after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: $switch-unchecked-bg;
    border-radius: 21px;
    @include BoxShadowHelper(1);
    left: -5px;
    top: -5px;
    transition: left 0.3s ease, background 0.3s ease, box-shadow 0.1s ease;
}
// Switch active style
input[type=checkbox]:checked:not(:disabled) ~ .lever:active:after {
       // box-shadow: 0 1px 3px 1px rgba(0,0,0,0.4), 0 0 0 15px transparentize($switch-bg-color, .9);
}
input[type=checkbox]:not(:disabled) ~ .lever:active:after {
       // box-shadow: 0 1px 3px 1px rgba(0,0,0,0.4), 0 0 0 15px rgba(0, 0, 0, 0.08);
       @include BoxShadowHelper(2);
}
.switch label input[type=checkbox]:checked + .lever:after {
    left: 36px;
}

// Disabled Styles

.switch input[type=checkbox][disabled] + .lever{
  cursor: default;
}
.switch label input[type=checkbox][disabled] + .lever:after,
.switch label input[type=checkbox][disabled]:checked + .lever:after {
    background-color: $input-disabled-solid-color;
}
